.vscode/
venv/
__pycache__/
*.pyc
*.sql
*.mdf
*.ldf
.DS_Store
Thumbs.db
.history
*.dbmdl
*.bak
*.log
*.pyo
*.pyd
*.pid
*.out
*.lock
docker-compose.yml
elasticsearch-data/
.env
.env.local
.env.*.local
.env.development
.env.test
.env.production
alembic/
alembic.ini
alembic/versions/
alembic/versions/README